USE [master]
GO
/****** Object:  Database [AlquilerCanchas]    Script Date: 7/10/2025 22:20:05 ******/
CREATE DATABASE [AlquilerCanchas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlquilerCanchas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AlquilerCanchas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlquilerCanchas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AlquilerCanchas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlquilerCanchas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlquilerCanchas]
GO
/****** Object:  Table [dbo].[Cancha]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancha](
	[IdCancha] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Tipo] [nvarchar](30) NULL,
	[PrecioHora] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [nvarchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[NombreProducto] [nvarchar](100) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Categoria] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Precio] [decimal](10, 2) NULL,
	[Stock] [int] NULL,
	[Categoria] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[IdCancha] [int] NULL,
	[Cliente] [nvarchar](50) NULL,
	[Fecha] [datetime] NULL,
	[HoraInicio] [datetime] NULL,
	[HoraFin] [datetime] NULL,
	[Total] [decimal](10, 2) NULL,
	[Estado] [varchar](20) NULL,
	[IdUsuario] [int] NOT NULL,
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
	[Clave] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[Fecha] [datetime] NULL,
	[Total] [decimal](10, 2) NULL,
	[IdUsuario] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentaDetalle]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaDetalle](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cancha] ON 

INSERT [dbo].[Cancha] ([IdCancha], [Nombre], [Tipo], [PrecioHora]) VALUES (1, N'Cancha 5 Redondo', N'Fútbol 5', CAST(2500.00 AS Decimal(10, 2)))
INSERT [dbo].[Cancha] ([IdCancha], [Nombre], [Tipo], [PrecioHora]) VALUES (2, N'Cancha 5 Batigol', N'Fútbol 5', CAST(2500.00 AS Decimal(10, 2)))
INSERT [dbo].[Cancha] ([IdCancha], [Nombre], [Tipo], [PrecioHora]) VALUES (3, N'Cancha 5 Demonio Hauche', N'Fútbol 5', CAST(2500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Cancha] OFF
GO
SET IDENTITY_INSERT [dbo].[Compras] ON 

INSERT [dbo].[Compras] ([IdCompra], [Cliente], [Fecha]) VALUES (2, N'luis', CAST(N'2025-09-10T18:06:09.370' AS DateTime))
INSERT [dbo].[Compras] ([IdCompra], [Cliente], [Fecha]) VALUES (1002, N'jorge', CAST(N'2025-10-07T19:43:00.390' AS DateTime))
INSERT [dbo].[Compras] ([IdCompra], [Cliente], [Fecha]) VALUES (1003, N'luis', CAST(N'2025-10-07T21:08:36.613' AS DateTime))
SET IDENTITY_INSERT [dbo].[Compras] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCompra] ON 

INSERT [dbo].[DetalleCompra] ([IdDetalle], [IdCompra], [NombreProducto], [IdProducto], [Cantidad], [PrecioUnitario], [Categoria]) VALUES (1, 2, N'Remera Temperley', 3, 1, CAST(15000.00 AS Decimal(10, 2)), N'Camisetas')
INSERT [dbo].[DetalleCompra] ([IdDetalle], [IdCompra], [NombreProducto], [IdProducto], [Cantidad], [PrecioUnitario], [Categoria]) VALUES (2, 1002, N'pantalon temperley', 1002, 1, CAST(25000.00 AS Decimal(10, 2)), N'ropa deportiva')
INSERT [dbo].[DetalleCompra] ([IdDetalle], [IdCompra], [NombreProducto], [IdProducto], [Cantidad], [PrecioUnitario], [Categoria]) VALUES (3, 1003, N'Remera Temperley', 3, 1, CAST(15000.00 AS Decimal(10, 2)), N'Camisetas')
SET IDENTITY_INSERT [dbo].[DetalleCompra] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Precio], [Stock], [Categoria]) VALUES (1, N'Predator', CAST(15000.00 AS Decimal(10, 2)), 3, N'Botines')
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Precio], [Stock], [Categoria]) VALUES (2, N'Total90', CAST(30000.00 AS Decimal(10, 2)), 3, N'Botines')
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Precio], [Stock], [Categoria]) VALUES (3, N'Remera Temperley', CAST(15000.00 AS Decimal(10, 2)), 9, N'Camisetas')
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([IdCancha], [Cliente], [Fecha], [HoraInicio], [HoraFin], [Total], [Estado], [IdUsuario], [IdReserva]) VALUES (2, N'luis', CAST(N'2025-09-10T00:00:00.000' AS DateTime), CAST(N'1900-01-01T20:00:00.000' AS DateTime), CAST(N'1900-01-01T21:00:00.000' AS DateTime), CAST(2500.00 AS Decimal(10, 2)), N'ACTIVA', 2, 1)
INSERT [dbo].[Reserva] ([IdCancha], [Cliente], [Fecha], [HoraInicio], [HoraFin], [Total], [Estado], [IdUsuario], [IdReserva]) VALUES (5, N'luis', CAST(N'2025-10-08T00:00:00.000' AS DateTime), CAST(N'2025-10-07T21:07:30.820' AS DateTime), CAST(N'2025-10-07T22:07:30.000' AS DateTime), CAST(3499.20 AS Decimal(10, 2)), N'ACTIVA', 2, 2)
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Rol], [Clave]) VALUES (1, N'admin', N'Empleado', N'admin')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Rol], [Clave]) VALUES (2, N'luis', N'Cliente', N'lopez')
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Rol], [Clave]) VALUES (1002, N'farq', N'Cliente', N'2e40778c17df8cc0227cfd4b525a2be984b09424913da4731b')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ('Sin categoria') FOR [Categoria]
GO
ALTER TABLE [dbo].[Reserva] ADD  DEFAULT ('ACTIVA') FOR [Estado]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [PrecioUnitario]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compras] ([IdCompra])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Producto]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cancha] FOREIGN KEY([IdCancha])
REFERENCES [dbo].[Cancha] ([IdCancha])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cancha]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Usuario]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Producto]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Usuario]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalle_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_VentaDetalle_Producto]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalle_Venta] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_VentaDetalle_Venta]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[RegistrarCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarCompra]
    @Cliente NVARCHAR(100),
    @Fecha DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Compras (Cliente, Fecha)
    VALUES (@Cliente, @Fecha);

    SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarDetalleCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarDetalleCompra]
    @IdCompra INT,
    @IdProducto INT,
    @NombreProducto NVARCHAR(100),
    @Cantidad INT,
    @PrecioUnitario DECIMAL(10,2),
    @Categoria NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO DetalleCompra (IdCompra, IdProducto, NombreProducto, Cantidad, PrecioUnitario, Categoria)
    VALUES (@IdCompra, @IdProducto, @NombreProducto, @Cantidad, @PrecioUnitario, @Categoria);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarReserva]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarReserva]
	@IdReserva INT,
	@Fecha DATETIME,
	@HoraInicio DATETIME,
	@HoraFin DATETIME,
	@Total DECIMAL(10,2),
	@Estado NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE Reserva
	SET Fecha = @Fecha,
		HoraInicio = @HoraInicio,
		HoraFin = @HoraFin,
		Total = @Total,
		Estado = @Estado
	WHERE IdReserva = @IdReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarStock]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarStock]
    @IdProducto INT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Producto
    SET Stock = Stock - @Cantidad
    WHERE IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarVenta]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ActualizarVenta]
	@IdVenta INT,
	@IdUsuario INT,
	@Fecha DATETIME
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE Venta
	SET IdUsuario = @IdUsuario,
	    Fecha = @Fecha
	WHERE IdVenta = @IdVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CancelarReserva]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CancelarReserva]
	@IdReserva INT
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE Reserva
	SET Estado = 'Cancelada'
	WHERE IdReserva = @IdReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCancha]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarCancha]
	@IdCancha INT
AS
BEGIN
	DELETE FROM Cancha
	WHERE IdCancha = @IdCancha;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarCompra]
	@IdCompra INT
AS
BEGIN
	DELETE FROM Compras
	WHERE IdCompra = @IdCompra;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarDetalleCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarDetalleCompra]
	@IdDetalle INT
AS
BEGIN
	DELETE FROM DetalleCompra
	WHERE IdDetalle = @IdDetalle;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarProducto]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarProducto]
	@IdProducto INT
AS
BEGIN
	DELETE FROM Producto
	WHERE IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarReserva]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarReserva]
	@IdReserva INT
AS
BEGIN
	DELETE FROM Reserva
	WHERE IdReserva = @IdReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarUsuario]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarUsuario]
	@IdUsuario INT
AS
BEGIN
	DELETE FROM Usuario
	WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarVenta]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarVenta]
	@IdVenta INT
AS
BEGIN
	DELETE FROM Venta
	WHERE IdVenta = @IdVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ExisteNombreUsuario]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ExisteNombreUsuario]
	@Nombre NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS(
		SELECT 1 FROM Usuario WHERE Nombre = @Nombre
	)
		SELECT 1 AS Existe;
	ELSE
		SELECT 0 AS Existe;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertaarReservas]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Creación del Stored Procedure
CREATE PROCEDURE [dbo].[SP_InsertaarReservas]
    -- El nombre del parámetro debe coincidir con el código C# (ej. @IdCancha, @Cliente)
    @IdCancha INT,
    @Cliente NVARCHAR(200), -- Ajusta el tamaño de NVARCHAR si es necesario
    @Fecha DATETIME,
    @HoraInicio DATETIME,
    @HoraFin DATETIME,
    @Total DECIMAL(10, 2), -- Ajusta la precisión si es necesario
    @Estado VARCHAR(20),   -- Ajusta el tamaño de VARCHAR si es necesario
    @IdUsuario INT
AS
BEGIN
    -- Asegúrate de que el INSERT NO mencione la columna IdReserva, 
    -- ya que es IDENTITY y la DB la generará automáticamente.
    INSERT INTO dbo.Reserva (
        IdCancha,
        Cliente,
        Fecha,
        HoraInicio,
        HoraFin,
        Total,
        Estado,
        IdUsuario
    )
    VALUES (
        @IdCancha,
        @Cliente,
        @Fecha,
        @HoraInicio,
        @HoraFin,
        @Total,
        @Estado,
        @IdUsuario
    );

    -- Devolver el ID generado
    -- SCOPE_IDENTITY() devuelve el último ID generado en la sesión actual
    SELECT SCOPE_IDENTITY() AS IdReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarCancha]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertarCancha]
	@Nombre NVARCHAR(50),
	@Tipo INT,
	@PrecioHora DECIMAL
AS
BEGIN
	INSERT INTO Cancha (Nombre, Tipo, PrecioHora)
	VALUES (@Nombre, @Tipo, @PrecioHora);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertarCompra]
	@Cliente NVARCHAR(100),
	@Fecha DATETIME
AS
BEGIN
	INSERT INTO Compras(Cliente,Fecha)
	VALUES (@Cliente, @Fecha);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarDetalleCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertarDetalleCompra]
	@IdCompra INT,
	@NombreProducto NVARCHAR(100),
	@IdProducto INT,
	@Cantidad INT,
	@PrecioUnitario DECIMAL(10,2),
	@Categoria NVARCHAR(100)
AS
BEGIN
	INSERT INTO DetalleCompra (IdCompra, NombreProducto, IdProducto, Cantidad, PrecioUnitario, Categoria)
	VALUES (@IdCompra, @NombreProducto,@IdProducto, @Cantidad, @PrecioUnitario, @Categoria);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarDetalleVenta]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertarDetalleVenta]
    @IdVenta INT,
    @IdProducto INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO VentaDetalle (IdVenta, IdProducto, Cantidad, PrecioUnitario)
    VALUES (@IdVenta, @IdProducto, @Cantidad, @PrecioUnitario);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarProductos]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertarProductos]
	@Nombre NVARCHAR(50),
	@Precio DECIMAL(10,2),
	@Stock INT,
	@Categoria NVARCHAR(50)
AS
BEGIN
	INSERT INTO Producto (Nombre, Precio, Stock, Categoria)
	VALUES (@Nombre, @Precio, @Stock, @Categoria);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarReservas]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarReservas]
    @IdCancha INT,
    @Cliente NVARCHAR(100),
    @Fecha DATETIME,
    @HoraInicio DATETIME,
    @HoraFin DATETIME,
    @Total DECIMAL(10,2),
    @Estado VARCHAR(20),
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Reserva (IdCancha, Cliente, Fecha, HoraInicio, HoraFin, Total, Estado, IdUsuario)
    VALUES (@IdCancha, @Cliente, @Fecha, @HoraInicio, @HoraFin, @Total, @Estado, @IdUsuario);

    SELECT SCOPE_IDENTITY() AS IdReserva;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarUsuario]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertarUsuario]
	@Nombre NVARCHAR(50),
	@Rol NVARCHAR(50),
	@Clave NVARCHAR(50)
AS
BEGIN
	INSERT INTO Usuario (Nombre, Rol, Clave)
	VALUES (@Nombre, @Rol, @Clave);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarVenta]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertarVenta]
	@IdProducto INT,
	@Cantidad int,
	@Fecha DATETIME,
	@Total DECIMAL(10,2),
	@IdUsuario INT,
	@PrecioUnitario DECIMAL (10,2)
AS
BEGIN
	INSERT INTO Venta(IdProducto, Cantidad, Fecha, Total, IdUsuario, PrecioUnitario)
	VALUES (@IdProducto, @Cantidad, @Fecha, @Total, @IdUsuario, @PrecioUnitario);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarCancha]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarCancha]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT IdCancha, Nombre, Tipo, PrecioHora
	FROM Cancha
	ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarCompra]
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT v.IdVenta, v.Fecha, u.Nombre AS Usuario,
		   SUM(vd.Subtotal) AS Total
	FROM Venta v
	INNER JOIN Usuario u ON v.IdUsuario = u.IdUsuario
	INNER JOIN VentaDetalle vd ON v.IdVenta = vd.IdVenta
	GROUP BY v.IdVenta, v.Fecha, u.Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarProducto]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarProducto]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		IdProducto,
		Nombre,
		Precio,
		Stock,
		Categoria
	FROM Producto
	ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarReserva]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarReserva]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT r.IdReserva, r.Fecha, r.HoraInicio, r.HoraFin, r.Total,
		   u.Nombre AS Usuario, ca.Tipo AS Cancha
	FROM Reserva r
	INNER JOIN Usuario u ON r.IdUsuario = u.IdUsuario
	INNER JOIN Cancha ca ON r.IdCancha = ca.IdCancha;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarUsuarios]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ListarUsuarios]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT IdUsuario, Nombre, Rol FROM Usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Login]
	@Nombre NVARCHAR(50),
	@ClaveHash NVARCHAR(256)
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (
		SELECT 1 FROM Usuario
		WHERE Nombre = @Nombre AND Clave = @ClaveHash
	)
		SELECT 1 AS Autenticado;
	ELSE
		SELECT 0 AS Autenticado;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarCancha]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ModificarCancha]
	@IdCancha INT,
	@Nombre NVARCHAR(50),
	@Tipo INT,
	@PrecioHora DECIMAL
AS
BEGIN
	UPDATE Cancha
	SET Nombre = @Nombre,
		Tipo = @Tipo,
		PrecioHora = @PrecioHora
	WHERE IdCancha = @IdCancha;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ModificarCompra]
	@IdCompra INT,
	@Cliente NVARCHAR(100),
	@Fecha DATETIME
AS
BEGIN
	UPDATE Compras
	SET Cliente = @Cliente,
		Fecha = @Fecha
	WHERE IdCompra = @IdCompra;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarDetalleCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ModificarDetalleCompra]
	@IdDetalle INT,
	@IdCompra INT,
	@NombreProducto NVARCHAR(100),
	@IdProducto INT,
	@Cantidad INT,
	@PrecioUnitario DECIMAL(10,2),
	@Categoria NVARCHAR(100)
AS
BEGIN
	UPDATE DetalleCompra
	SET IdCompra = @IdCompra,
		NombreProducto = @NombreProducto,
		IdProducto = @IdProducto,
		Cantidad = @Cantidad,
		PrecioUnitario = @PrecioUnitario,
		Categoria = @Categoria
	WHERE IdDetalle = @IdDetalle;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarProducto]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ModificarProducto]
	@IdProducto int,
	@Nombre NVARCHAR(50),
	@Precio DECIMAL,
	@Stock int,
	@Categoria NVARCHAR(50)
AS
BEGIN
	UPDATE Producto
	SET Nombre = @Nombre,
		Precio = @Precio,
		Stock = @Stock,
		Categoria = @Categoria
	WHERE IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarReserva]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ModificarReserva]
	@IdReserva INT,
	@IdCancha INT,
	@Cliente NVARCHAR(50),
	@Fecha DATETIME,
	@HoraInicio DATETIME,
	@HoraFin DATETIME,
	@Total DECIMAL(10,2),
	@Estado VARCHAR(20),
	@IdUsuario INT
AS
BEGIN
	UPDATE Reserva
	SET IdCancha = @IdCancha,
		Cliente = @Cliente,
		Fecha = @Fecha,
		HoraInicio = @HoraInicio,
		HoraFin = @HoraFin,
		Total = @Total,
		Estado = @Estado,
		IdUsuario = @IdUsuario
	WHERE IdReserva = @IdReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarUsuario]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ModificarUsuario]
	@IdUsuario INT,
	@Nombre NVARCHAR(50),
	@Rol NVARCHAR(50),
	@Clave NVARCHAR(50)
AS
BEGIN
	UPDATE Usuario
	SET Nombre = @Nombre,
		Rol = @Rol,
		Clave = @Clave
	WHERE IdUsuario = @IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarVenta]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ModificarVenta]
	@IdVenta INT,
	@IdProducto INT,
	@Cantidad INT,
	@Fecha DATETIME,
	@Total DECIMAL(10,2),
	@IdUsuario INT,
	@PrecioUnitario DECIMAL(10,2)
AS
BEGIN
	UPDATE Venta
	SET IdProducto= @IdProducto,
		Cantidad = @Cantidad,
		Fecha = @Fecha,
		Total = @Total,
		IdUsuario = @IdUsuario,
		PrecioUnitario = @PrecioUnitario
	WHERE IdVenta = @IdVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerCancha]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerCancha]
AS
BEGIN
	SELECT IdCancha, Nombre, Tipo, PrecioHora
	FROM Cancha
	ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerCompra]
AS
BEGIN
	SELECT IdCompra, Cliente, Fecha
	FROM Compras
	ORDER BY Cliente;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerDetalleCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerDetalleCompra]
AS
BEGIN
	SELECT E.IdDetalle,
		   B.IdCompra AS Compras,
		   E.NombreProducto,
		   C.IdProducto AS Producto,
		   E.Cantidad,
		   E.PrecioUnitario,
		   E.Categoria
	FROM DetalleCompra E
	INNER JOIN Compras B ON E.IdCompra = B.IdCompra
	INNER JOIN Producto C ON E.IdProducto = C.IdProducto
	ORDER BY E.NombreProducto DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerDetallePorCompra]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerDetallePorCompra]
	@IdVenta INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT vd.IdProducto, p.Nombre, vd.Cantidad, vd.PrecioUnitario, vd.Subtotal
	FROM VentaDetalle vd
	inner join Producto p ON vd.IdProducto = P.IdProducto
	WHERE vd.IdVenta = @IdVenta;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPorCredenciales]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerPorCredenciales]
	@Nombre NVARCHAR(50),
	@ClaveHash NVARCHAR(256)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Usuario
	WHERE Nombre = @Nombre AND Clave = @ClaveHash;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPorCredencialesPlano]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerPorCredencialesPlano]
    @Nombre NVARCHAR(50),
    @Clave NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Usuario
    WHERE Nombre = @Nombre AND Clave = @Clave;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerProducto]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerProducto]
AS
BEGIN
	SELECT IdProducto, Nombre, Precio, Stock, Categoria
	FROM Producto
	ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerProductoPorId]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerProductoPorId]
    @IdProducto INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT IdProducto, Nombre, Precio, Stock, Categoria
    FROM Producto
    WHERE IdProducto = @IdProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerReserva]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerReserva]
AS
BEGIN
	SELECT E.IdReserva,
		   B.IdCancha AS Cancha,
		   E.Cliente,
		   E.Fecha,
		   E.HoraInicio,
		   E.HoraFin,
		   E.Total,
		   E.Estado,
		   V.IdUsuario AS Usuario
	FROM Reserva E
	INNER JOIN Cancha B ON E.IdCancha = B.IdCancha
	INNER JOIN Usuario V ON E.IdUsuario = V.IdUsuario
	ORDER BY E.Fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerReservasPorCanchaYFecha]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerReservasPorCanchaYFecha]
	@IdCancha INT,
	@Fecha DATE
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Reserva
	WHERE IdCancha = @IdCancha AND CONVERT(DATE, Fecha) = @Fecha;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerReservasPorUsuario]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerReservasPorUsuario]
    @NombreCliente NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        r.IdReserva,
        r.Fecha,
        r.HoraInicio,
        r.HoraFin,
        r.Total,
        r.Estado,
        c.Nombre AS Cancha
    FROM Reserva r
    INNER JOIN Cancha c ON r.IdCancha = c.IdCancha
    WHERE LOWER(r.Cliente) LIKE '%' + LOWER(@NombreCliente) + '%'
    ORDER BY r.Fecha DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerReservasPorUsuarios]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerReservasPorUsuarios]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        r.IdReserva,
        r.IdCancha,
        r.IdUsuario,
        r.Cliente AS NombreCliente,
        r.Fecha,
        r.HoraInicio,
        r.HoraFin,
        r.Total,
        c.Nombre AS NombreCancha,
        r.Estado
    FROM Reserva r
    INNER JOIN Cancha c ON r.IdCancha = c.IdCancha
    WHERE r.IdUsuario = @IdUsuario
    ORDER BY r.Fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerTarifaPorCancha]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerTarifaPorCancha]
	@IdCancha INT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT PrecioHora
	FROM Cancha
	WHERE IdCancha = @IdCancha;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerTodasLasCompras]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerTodasLasCompras]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT v.IdVenta, v.Fecha, u.Nombre AS Usuario
	FROM Venta v
	INNER JOIN Usuario u ON v.IdUsuario = u.IdUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerUsuario]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerUsuario]
AS
BEGIN
	SELECT IdUsuario, Nombre, Rol, Clave
	FROM Usuario
	ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerVenta]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ObtenerVenta]
AS
BEGIN
	SELECT A.IdVenta,
		   B.IdProducto AS Producto,
		   A.Cantidad,
		   A.Fecha,
		   A.Total,
		   C.IdUsuario AS Usuario,
		   A.PrecioUnitario
	FROM Venta A
	INNER JOIN Producto B ON A.IdProducto = B.IdProducto
	INNER JOIN Usuario C ON A.IdUsuario = C.IdUsuario
	ORDER BY A.Fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_VerificarDisponibilidadReserva]    Script Date: 7/10/2025 22:20:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_VerificarDisponibilidadReserva]
	@IdCancha INT,
	@Fecha DATETIME,
	@HoraInicio DATETIME,
	@HoraFin DATETIME
AS
BEGIN
	SET NOCOUNT ON;
	IF EXISTS (
		SELECT 1 FROM Reserva
		WHERE IdCancha = @IdCancha
		  AND Fecha = @Fecha
		  AND (
		      (@HoraInicio BETWEEN HoraInicio AND HoraFin) OR
			  (@HoraFin BETWEEN HoraInicio AND HoraFin) OR
			  (HoraInicio BETWEEN @HoraInicio AND @HoraFin)
		  )
		  AND Estado = 'Pendiente'
	)
		SELECT 0 AS Disponible;
	ELSE
		SELECT 1 AS Disponible;
END
GO
USE [master]
GO
